## Idea
.idea
xml-sovitinpalvelu.iml

## NPM
node_modules

## Swap files
.swp

## sensitive data
config.env.development
.env

## Test data
coverage

## Gulp
tmp
dist
dist.zip

## Test payloads
examples/payloads

*.swp
